<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--namespace接口的完整名称-->
<mapper namespace="com.xx.dao.IUserDao">
    <!--id:接口的某一个方法-->
    <insert id="insert">
        insert into user_tab values('00001','admin1234','12345668','1')
    </insert>
</mapper>